---
import '../styles/global.css';
const { lang = 'ro' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Guess the Instrument!</title>
</head>
<body class="bg-sky-100 flex flex-col items-center justify-center min-h-screen p-4 selection:bg-pink-300 selection:text-pink-900">
    <main class="w-full max-w-6xl mx-auto flex flex-col items-center justify-center flex-grow">
        <slot />
    </main>
</body>
</html>
